<!DOCTYPE html>
	<html>
	 	<head>
	 			<title> Welcome to slam8 </title>
	 				<meta name="viewport" content="width=device-width, initial-scale=1">
	 				<link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	 				<link rel= "stylesheet" href="/static/css/dashboard/dashboard.css">
 		</head>
 		<body>
 			<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 			<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 			
 			<div class="row">
 					<div class="col s1 m3 l3" id="left_side_panel">
 						<div class="row">
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="offset-m2 offset-l2 s12 m12 l12 center-align">
 								<img width="70%" src="/media/images/dashboard/photo_frame.png">

 							</div>
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="offset-m2 offset-l2 s12 m12 l12 center-align">
 								<img width="80%" src="/media/images/dashboard/scroll.png">

 							</div>


 						</div>
 					</div>

 					<div class="col s12 m7 l7">
 						<div class="row">
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="col s6 m1 l1">
 							<a href="">	<img class="hover_scale" src="/media/images/dashboard/idea_book.png"> </a>

 							</div>
 							<div class="offset-m3 offset-l3 offset-s3 col s6 m1 l1 center-align">
 								<a href=""><img class="hover_scale" src="/media/images/dashboard/art_music.png"> </a>

 							</div>
 							<div class="offset-m3 offset-l3 offset-s3 col s6 m1 l1 center-align">
 							<a href="">	<img class="hover_scale" src="/media/images/dashboard/adventure_book.png"> </a>

 							</div>

 						</div>
 						<div class="row">
 							<div class="offset-m2 offset-l2 offset-s2 col s6 m1 l1 center-align">
 							<a href="">	<img class="hover_scale" src="/media/images/dashboard/personal_book.png"> </a>
 							</div>
 							<div class="offset-m3 offset-l3 offset-s2 col s6 m1 l1 center-align">
 							<a href="">	<img class="hover_scale" src="/media/images/dashboard/www.png"> </a>
 							</div>


							</div>
						<div class="row">
 							
 							<div class="col s6 m1 l1">
 							<a href="">	<img class="hover_scale" src="/media/images/dashboard/love_book.png"> </a>

 							</div>
 							<div class="offset-m3 offset-l3 offset-s3 col s6 m1 l1 center-align">
 							<a href="">	<img class="hover_scale" src="/media/images/dashboard/face.png"> </a>

 							</div>
 							<div class="offset-m3 offset-l3 offset-s3 col s6 m1 l1 center-align">
 							<a href="">	<img class="hover_scale" src="/media/images/dashboard/food_health.png"> </a>

 							</div>

 						</div>

 				</div>

 				<div class="col s12 m2 l2">
 					<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 					<div class="row">
 						<div class="col s12 m12 l12">
 							<img id="gift_box" src="/media/images/dashboard/giftbox.png">

 					</div>

 					</div>
 					<div class="row">
 						<div class="col s12 m12 l12">
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<div class="col s6 m12 l12"> &nbsp;&nbsp;&nbsp;</div>
 							<img id="sticky_note" src="/media/images/dashboard/sticky_notes.png">

 					</div>

 					</div>



 				</div>





 				</div>











 			</div>


		</body>
	</html>