body {
	background-image: url(/media/images/login/back.png);
}

#form_div {
	background-image:url(/media/images/login/black_book.png);
	min-height: 500px;
	background-repeat:no-repeat;
	background-position:center;
}

/*media querries for body elements */
@media screen and (max-width: 992px) {

#left_elements {
	display:none;
}
#form_div {
	background-image:url(/media/images/login/black_book.png);
	min-height: 1274px;
	background-repeat:no-repeat;
	background-position:0px 90px;
	background-size:100%;
}




}
