<!DOCTYPE html>
	<html>
		<head>
			<title>Welcome to Slamit </title>
			<link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
			<link rel="stylesheet" href="/static/css/login/login_login.css">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		</head>
		<body>
			 <div class= "col m12 l12 s12"> &nbsp; </div>
			  <div class= "col m12 l12 s12"> &nbsp; </div>
			   <div class= "col m12 l12 s12"> &nbsp; </div>
			    <div class= "col m12 l12 s12"> &nbsp; </div>
			<div class="row">
				<div class="offset-l1 col m5 l5" id="left_elements">
					<img class="responsive-img" src="/media/images/login/login_left.png">

				</div>
				<div id="form_div" class="col m12 s12 l5">


				</div>


			</div>



		</body>
	</html>
